.body{
    background-color: #e4f1f2;
    width: 100%;
    height: auto;
    min-height: 100vh;
}
.home_header{
    height: 100px;
    background-color: #041928;
    color: white;
    display: flex;
    justify-content: center;
}
.home_header img{
    height: 60px;
    margin:20px 24px 20px 0;
}
.home_content{
    width: 60%;
    margin: auto;
}
.home_content .button_home{
    font-size: 24px;
}
.button_home{
    height: 80px;
}
.button_home button{
    height: 100%;
    width: 100%;
    background-color: inherit;
}
.button_home button:hover{
    cursor: pointer;
    border: 2px solid var(--primary-color);
}
.button_home.return button{
    color: green;
}
.button_home.search button{
    color: blue;
}
.button_home.borrow button{
    color: orange;
}
.Notice{
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.Notice button{
    width: 40px;
}
.Notice button i{
    font-size: 24px;
}
.Notice button i:hover{
    font-size: 28px;
}
.loading{
    position: fixed;
}
.dropdowm_category{
    width: 75%;
    min-width: 160px;
    height: 32px;
}
#bookct{
    display: none;
}